body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/test/ảnh/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
}

/* Styles for the navigation bar */
.navbar {
  background-color: #034278;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 500px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.navbar-link:hover {
  background-color: #035778;
  border-radius: 5px;
  padding: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right:hover {
  background-color: #035778;
  border-radius: 5px;
}

/* Styles for the container */
.container {
  max-width: 1200px;
  margin: 100px auto 40px auto;
  padding: 0 20px;
}

/* Styles for admin sections */
.admin-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.admin-form input,
.admin-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.admin-form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #218838;
}

/* Styles for admin tables */
.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.admin-table th {
  background-color: #f8f8f8;
}

.edit-btn,
.delete-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background-color: #dc3545;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn:hover {
  background-color: #c82333;
}
