body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/test/ảnh/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
}

.navbar {
  background-color: #034278;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.navbar-link:hover {
  background-color: #035778;
  border-radius: 5px;
  border: 64px;
  padding: 20px;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

.content {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 250px;
  margin-left: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  border-bottom: 1px solid #ccc;
}

.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar-link {
  display: block;
  padding: 15px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-link:hover {
  background-color: #f4f4f4;
}

.sidebar-link i {
  margin-right: 10px;
}

/* Styles for the user form */
.user-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.user-form input,
.user-form select,
.user-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #218838;
}
